<div class="container">
    <div class="footer__inner">
        <!-- Column 1 -->
        <div class="footer__column">
            <!-- Logo -->
            <div class="logo">
                <img
                    src="./assets/img/logo/logo.svg"
                    alt=""
                    class="logo__img"
                />
                <h2 class="logo__title">PixelPro</h2>
            </div>
            <p class="footer__desc">
                PixelPro is a smart AI background removal and image editor tool
                that lets you edit single or bulk images with precision.
            </p>
            <div class="footer__socials">
                <div class="footer__social">
                    <a href="#!" class="footer__social-link">
                        <img
                            src="../assets/icons/facebook.svg"
                            alt="Icon"
                            class="footer__social-img"
                        />
                    </a>
                </div>
                <div class="footer__social">
                    <a href="#!" class="footer__social-link">
                        <img
                            src="../assets/icons/twitter.svg"
                            alt="Icon"
                            class="footer__social-img"
                        />
                    </a>
                </div>
                <div class="footer__social">
                    <a href="#!" class="footer__social-link">
                        <img
                            src="../assets/icons/ytb.svg"
                            alt="Icon"
                            class="footer__social-img"
                        />
                    </a>
                </div>
                <div class="footer__social">
                    <a href="#!" class="footer__social-link">
                        <img
                            src="../assets/icons/instargram.svg"
                            alt="Icon"
                            class="footer__social-img"
                        />
                    </a>
                </div>
                <div class="footer__social">
                    <a href="#!" class="footer__social-link">
                        <img
                            src="../assets/icons/linked.svg"
                            alt="Icon"
                            class="footer__social-img"
                        />
                    </a>
                </div>
            </div>
        </div>
        <!-- Column 2 -->
        <div class="footer__column">
            <h2 class="footer__column-title">Product</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Remove Background</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Remove Objects</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Upscale</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Pricing</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">API Docs</a>
                </li>
            </ul>
        </div>
        <!-- Column 3 -->
        <div class="footer__column">
            <h2 class="footer__column-title">Services</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">PixelPro Production</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Studio Hire</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Affiliate Program</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Request a Quote</a>
                </li>
            </ul>
        </div>
        <!-- Column 4 -->
        <div class="footer__column">
            <h2 class="footer__column-title">Resources</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">How To BG Remove</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Our Blog</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Help Center</a>
                </li>
            </ul>
        </div>
        <!-- Column 5 -->
        <div class="footer__column">
            <h2 class="footer__column-title">Company</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">About</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Contact</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Privacy</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Terms</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Cookies</a>
                </li>
            </ul>
        </div>
    </div>
    <p class="footer__copy-right">Copyright 2023 ©biteric.id.vn</p>
</div>
