<div class="container">
    <div class="header__inner">
        <!-- Logo -->
        <div class="logo">
            <img src="./assets/img/logo/logo.svg" alt="" class="logo__img" />
            <h2 class="logo__title">PixelPro</h2>
        </div>

        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link navbar__link--active">
                        Product
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt="Icon arrow-down"
                            class="navbar__link-icon"
                        />
                        <div class="product__list">
                            <!-- Item 1 -->
                            <div class="product__item">
                                <img
                                    src="./assets/img/product/product-1.png"
                                    alt="Product 1"
                                    class="product__item-img"
                                />
                                <h2 class="product__item-title">Remove BG</h2>
                            </div>
                            <!-- Item 2 -->
                            <div class="product__item">
                                <img
                                    src="./assets/img/product/product-2.png"
                                    alt="Product 2"
                                    class="product__item-img"
                                />
                                <h2 class="product__item-title">
                                    Remove Objects
                                </h2>
                            </div>
                            <!-- Item 3 -->
                            <div class="product__item">
                                <img
                                    src="./assets/img/product/product-3.png"
                                    alt="Product 3"
                                    class="product__item-img"
                                />
                                <h2 class="product__item-title">Upscale</h2>
                            </div>
                            <!-- Item 4 -->
                            <div class="product__item">
                                <img
                                    src="./assets/img/product/product-4.png"
                                    alt="Product 4"
                                    class="product__item-img"
                                />
                                <h2 class="product__item-title">Relight</h2>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Pricing</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">API</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Blog</a>
                </li>
            </ul>
        </nav>

        <div class="header__cta">
            <a href="#!" class="btn header__btn">Login</a>
            <a href="#!" class="btn header__btn header__btn--bg">
                Sign up for free
            </a>
        </div>
    </div>
</div>
