.remove-section {
    background: #101112;
    padding: 52px 0 100px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__left {
        width: 60.6%;
    }

    &__right {
        width: 542px;
        display: flex;
        align-items: center;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__heading {
        width: 831px;

        & span {
            background: linear-gradient(106deg, #0095ff 49.58%, #0058ff 70.92%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.section-service {
    padding: 100px 0;
    background-color: #101112;

    &__inner {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        width: 970px;

        & span {
            background: linear-gradient(92deg, #ac2ef8 48.36%, #ff5993 91.36%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__desc {
        width: 880px;
        margin-top: 18px;
        color: #c3c3c3;
        line-height: 175%;
    }

    &__controls {
        margin-top: 36px;
        display: flex;
        gap: 16px;
        align-items: center;
    }

    &__control {
        border-radius: 30px !important;
        background-color: transparent !important;
        border: 1px solid#c3c3c3;

        &--active {
            color: #000 !important;
            background-color: #fff !important;
        }
    }

    &__img-wrap {
        margin-top: 48px;
        width: 970px;
        height: 434px;
        border-radius: 20px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__btn {
        margin-top: 50px;
    }

    &__bottm-btn {
        width: 180px !important;
    }
}
