.btn {
    font-weight: 600;
    line-height: 175%;
    padding: 12px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: #fff;
    background-color: #0058ff;
}
